/**
 SilverStripe Black Candy Theme
 http://www.silverstripe.com
 
 IE6 Hacks Stylesheet.
'text =*/
#Sidebar ul#Menu2 li a {
	width: 185px; /* 196 - 4 - 2 - some random ie bug = 185 */
}
	#Sidebar ul#Menu2 li li a {
		width: 183px;
	}
	#Sidebar ul#Menu2 li a:hover,
    #Sidebar ul#Menu2 li a.current,
    #Sidebar ul#Menu2 li a.current:hover {
			background-image: none;
          background: #DCDCDC;
    }
#Sidebar ul#Menu2 li li a.levelb:hover {
	 background: #BCBCBC;
}
#Sidebar ul#Menu2 li li a.current {
	 background: #BCBCBC;
}
/* Again IE does not like Margins and padding around my nice forms **/
label {
	margin-bottom: -10px;
}

input.action {
	padding: 2px !important;
}
#Sidebar input.action {
	width: 50px;
	margin-top: -27px;
}
#Sidebar .middleColumn {
	width: 112px;
}
span.middleColumn {
	display: inline-block;
}
