#Layout .background-image.unicorn {
	width: 1000px;
	height: 1000px;
	top: 95px;
	background: url(../images/unicorn.png) transparent no-repeat 9cm 0cm;
	pointer-events: none;
	position: absolute;
	overflow: visible;
}

#Layout {
	min-height: 300px;
}

.button.unicorn {
	position: relative;
	top: 145px;
}

div.variation {
	position: relative;
	top: 240px;
}

.button {cursor:pointer; }

.button a, .button a:hover {
	text-decoration: none;
}

.button a {
	font-size: 18pt;
	border:none;
	padding:6px 9px;
	margin:0;
	display:inline-block;
	color:white;
	background:-moz-linear-gradient(top, #368CE3, #002CD9 80%);
	background:-webkit-gradient(linear,left top,left bottom,from(#368CE3),to(#002CD9));
 	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: inset 0px  -1px 0px black, inset 0px  1px 0px rgba(255,255,255,0.8); 
	-webkit-box-shadow: inset 0px  -1px 0px black, inset 0px  1px 0px rgba(255,255,255,0.8); 
	box-shadow: inset 0px  -1px 0px black, inset 0px  1px 0px rgba(255,255,255,0.8);
	cursor:pointer;
	text-shadow: black 0 -1px;
}
.button.green a, input[type ='submit'].green {
	background:-moz-linear-gradient(top, #3CB51A, #2E6E10 80%);
	background:-webkit-gradient(linear,left top,left bottom,from(#3CB51A),to(#2E6E10));
}
.button.purple a {
	background:-moz-linear-gradient(top, #CF0047, #7A000E 80%);
	background:-webkit-gradient(linear,left top,left bottom,from(#CF0047),to(#7A000E));
}
	.button.purple a:hover {
		background:-moz-linear-gradient(top, #D61557, #B00014);
		background:-webkit-gradient(linear,left top,left bottom,from(#D61557),to(#B00014));
	}
.button.orange a { 
	background:-moz-linear-gradient(top, #DF8704, #BD2C0C 80%);
	background:-webkit-gradient(linear,left top,left bottom,from(#DF8704),to(#BD2C0C));
}
	.button.orange a:hover { 
	background:-moz-linear-gradient(top, #fba82c, #f1431c 80%);
	background:-webkit-gradient(linear,left top,left bottom,from(#fba82c),to(#f1431c));
	}
